
.home_top {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 2em;
	margin: 2em 1em;
}

.home_sub{
	display: flex;
	flex-direction: column;
	gap: 2em;
	justify-content: space-evenly;
	width: 40%;
	min-width: 200px;
}

.mainart{
	width: 40%;
	height: 50vh;
	min-height: 300px;
	min-width: 200px;
}

.mainart img{
	width: 100%;
	height: 100%;
}


.home_bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-radius: 7px;
	padding: 3em;
	background-color: #f3f5f7;
	flex-wrap: wrap;
	user-select: none;
	gap: 1em;
}

.home_bottom > div {
	width: 25%;
	padding: 2em;
	border-radius: 8px;
	transition: all 0.69s;
}

.home_bottom img{
	width: 60%;
	min-width: 120px;
}

.home_bottom > div:hover {
	transform: scale(1.02);
    box-shadow: 2px 2px 4px 4px lightgray;
}


@media (max-width:760px) {
	.home_top{
		
	}

	.home_sub, .mainart {
	}
	.home_bottom{
		padding: 1em;
	}

	.home_bottom > div{
		padding: 0.2em;
	}
}

@media (max-width:480px) {
	.home_top{
		flex-direction: column;
		width: 100%;
		margin: 1em 0.2em;
		
	}

	.home_sub, .mainart {
		width: 100%;
	}
	.home_bottom{
		flex-direction: column;
	}

	.home_bottom > div{
		width: 100%;
	}
}